body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  width: 350px;
  height: 400px;
}

.headingDiv{
  height: 92px;
  width: 259px;
}
.heading {
  /* text-align: center; */
  color: #4E8BF5;
  font-size: 26px;
}
#topDiv {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 2.5rem;
}
img {
  height: 61px;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}
.formContainer {
  height: 100px;
  text-align: center;
}

input[type="text"] {
  -webkit-appearance: none;
}

#showWeather, #celsiusBtn, #fahrenheitBtn, #kelvinBtn , input[type="text"] {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

input[type="text"] {
  text-align: left;
  font-size: 14px;
  height: 40px;
  width: 300px;
  /* padding: 5px 5px 10px; */
  color: #434343;
  margin: 0.5rem 0;
  margin-bottom: 2rem;
  padding-left: 0.8rem;
  background: #EFF5FE;
  height: 40px;
  border-radius: 5px;
}

input[type="text"]::placeholder {
  color: #adaaaa; 
  text-align: left;
}

input[type="text"]:disabled {
  color: #adaaaa; 
  text-align: left;
}
#queryLabel{
  color: #4F8BF5;
  display: flex;
  margin-left: 1.2rem;
}

select {
  height: 40px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: none;
  color:#434343;
  border:1px solid #D8DCDE;
  font-size: 14px;
  width:100%;
  padding-right: 0.5rem;
}
select:focus-visible{
  outline: none;
  border: 1px solid #D8DCDE;
}

select:focus{
  border:1px solid #4F8BF5;
}


.selectDiv {
  width: 310px;
  /* border: 1px solid #4E8BF5; */
  margin: auto;
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
  padding-right: 0.5rem;
  border-radius: 5px;
}
button {
  cursor: pointer;
  margin-bottom: 1.5rem; 
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #4E8BF5;
  color: white;
  width: 310px;
  height: 40px;
}

#errorMessage {
  color: #f5f6fa;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

#load {
  color: #f5f6fa;
  font-size: 15px;
  text-align: center;
}

a{
  text-decoration: none;
  color:#6F6F6F
}